{% extends "templates/_base.html" %}

{% block content %}
<div ng-app="intranet">
    <div ng-controller="TimeListCtrl">
        {% if user.id == request.user.id %}
            <div ng-init="isSameUser=true;"></div>
        {% endif %}
        <div ng-include="src='time_entries_list.html'"></div>
    </div>

    <div ng-controller="AddTimeEntryCtrl" ng-show="can_modify" class="time-entrie-forms row-fluid">
        <div class="box span4">
            <h2 class="content-header">{% trans %}Add time entry{% endtrans %}</h2>
            <div class="content_box" ng-include="src='add_time_entry.html'"></div>
        </div>
        <div class="box span8" ng-controller="AddEntryToOneBugsCtrl">
            <h2 class="content-header">{% trans %}Add entry to one of your own bugs{% endtrans %}</h2>
            <div class="content_box">
                <div id="add-entry-to-one-of-your-own-bugs" ng-include="src='one_of_our_own_bugs.html'">
                    <img ng-show="isLoading" src="/static/img/ajax.gif"/>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
