<div class="tabs">
    <ul class="nav nav-tabs">
        <li class="title">Timesheet for {{ entriesDate | date:'dd.MM.yyyy' }}</li>
    </ul>
</div>

<ul class="pager float_left">
    <li><a ng-click="previousDate()">Previous day</a></li>
    <li><input type="hidden" ng-model="modelDate" ui-date="dateOptions" ng-change="changeDateHandler(modelDate)" ui-date-format="dd.mm.yy" /></li>
    <li><a ng-click="nextDate()">Next day</a></li>
</ul>

<div class="float_left btn_margin_top frame_times justification-info">
    <a ng-show="needs_justification" class="button a_popup btn btn-warning" href="">Explain this</a>
</div>

<table id="time_entries" class="sort-time-entries-table table table-bordered table-hover">
    <thead>
        <tr>
            <th>Project</th>
            <th>Time</th>
            <th>Ticket</th>
            <th>Description</th>
            <th>Added</th>
            <th>Modified</th>
            <th ng-show="can_modify">SK</th>
            <th ng-show="can_modify">Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td class="sum">Sum</td>
            <td class="sum-count" colspan="7">{{ total_time | format_time }}</td>
        </tr>
    </tfoot>
    <tbody>
        <tr ng-repeat="entry in entries" ng-class="{delete: entry.deleted}">
            <td>
                <div ng-show="!entry.dirty">{{ entry.project.client_name }} / {{ entry.project.project_name }}</div>
                <div ng-show="entry.dirty">
                    <select name="project_id"
                            ng-model="entry.project.project_id"
                            ng-options="option.id as option.value for option in projects" required></select>
                <div>
            </td>
            <td><div ng-show="!entry.dirty">{{ entry.time | format_time }}</div><div ng-show="entry.dirty"><input name="time" type="text" ng-model="entry.time" required></div></td>
            <td>
                <div ng-show="entry.ticket_id && !entry.dirty">
                    <a href="{{ entry.tracker_url}}" class="external">
                        #{{ entry.ticket_id }}
                    </a>
                </div>
                <div ng-show="entry.dirty">
                    <input name="time" type="text" ng-model="entry.ticket_id" style="width: 100px;">
                    <select ng:model="ticket_type"\
                            ng-options="option.value as option.desc for option in ticketTypes"></select>
                </div>
            </td>
            <td>
                <div ng-show="entry.ticket_id && !entry.dirty">
                    <a href="{{ entry.tracker_url }}" class="fancybox">
                        {{ entry.desc }}
                    </a>
                </div>
                <div ng-show="!entry.ticket_id && !entry.dirty">
                    {{ entry.desc }}
                </div>
                <div ng-show="entry.dirty">
                    <textarea name="desc" ng-model="entry.desc"></textarea>
                </div>
            </td>
            <td>{{ entry.added }}</td>
            <td>{{ entry.modified }}</td>
            <td ng-show="can_modify && !entry.deleted" class="superkurazu"></td>
            <td ng-show="can_modify && !entry.deleted" class="box_times_buttons">
                <a ng-show="!entry.dirty" ng-click="openEdit(entry.id)" class="button btn btn-success">Edit</a>
                <a ng-show="!entry.dirty" ng-click="delete($index)" href="" class="button btn btn-danger">Delete</a>
                <button ng-show="entry.dirty" class="btn btn-primary" ng-click="submitEdit(entry.id)" type="submit" >Submit</button>
                <button ng-show="entry.dirty" class="btn btn-default" ng-click="closeEdit(entry.id)" type="submit">Cancel</button>
            </td>
        </tr>
    </tbody>
</table>
